<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Welcome to Tal's page</h1>
        <div class="list-group mt-4">
            <a href="{{ url_for('input_page') }}" class="list-group-item list-group-item-action">Youtube Channel Word Search</a>
            <a href="{{ url_for('sphere_game') }}" class="list-group-item list-group-item-action">Sphere game</a>
            <a href="{{ url_for('sphere_game_a_star') }}" class="list-group-item list-group-item-action">Sphere game with pathfinding</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
