<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ytstyle.css') }}">
</head>

<!-- Google tag (gtag.js) -->

<body>
    <div class="container">
        <h1>Enter YouTube Handle, Number of Videos, and Search Word</h1>
        <h5>Please no more than 15 videos at a time, be merciful to my scraping proxy and YouTube API</h5>
        <form name="inputForm" action="{{ url_for('results_page') }}" method="POST">
            <input type="text" name="url" placeholder="Please enter YouTube Handle" required pattern="^[a-zA-Z0-9_\-]+$" title="Handle must be alphanumeric and may include underscores or hyphens">
            <input type="number" name="num_videos" placeholder="Number of videos" required min="1" max="15">
            <input type="text" name="search_word" placeholder="Search word" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
