<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Soccer Ball</title>
    <style>
        body {margin: 0;}
        canvas {display: block;}
    </style>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XCW4Y1XEYX"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XCW4Y1XEYX');
</script>

<body>
    <script src="{{url_for('static', filename='sphere_game.js')}}" type="module"></script>
</body>
</html>
